<section id="main-content" class="animated fadeInRight">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 table-responsive">
                <table id="example" class="table table-striped table-bordered solicitudes" datatable="" cellspacing="0" width="100%">
                    <thead>
                    <!--<tr>-->
                        <!--<th colspan="4">-->
                            <!--<div class="input-group">-->
                                <!--<input class="form-control" ng-change="vm.togglefilter()" ng-model="vm.code" placeholder="Buscar codigo">-->
                                <!--<span class="input-group-btn">-->
                                    <!--<button type="button" class="btn btn-info" ng-click="vm.reset()">Restaurar</button>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</th>-->
                    <!--</tr>-->
                    <tr>
                        <th class="text-center-app" ng-click="vm.toggleorder('code')">
                            Codigo <i class="{{vm.sorticon('displayName')}}" uib-tooltip="ordenar" style="cursor: pointer;"></i>
                        </th>
                        <th class="text-center-app">Fecha</th>
                        <th class="text-center-app" ng-click="vm.toggleorder('user')">
                            Usuario <i class="{{vm.sorticon('createDate')}}" uib-tooltip="ordenar" style="cursor: pointer;"></i>
                        </th>
                        <th class="text-center-app">Cargo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="elem in vm.solicitudes"  ng-click="vm.gotoDetail(elem)">
                        <td style="background-color: #ddfedd" >{{elem.code}}</td>
                        <td>{{elem.date}}</td>
                        <td>{{elem.user}}</td>
                        <td>{{elem.position}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="btn-group" role="group">
                                <button class="btn btn-info" ng-hide="!vm.paging.first_prev" ng-click="vm.pagTo(0)"> << </button>
                                <button class="btn btn-info" ng-hide="!vm.paging.first_prev" ng-click="vm.pagTo(vm.paging.current -1)"> < </button>
                                <button class="btn btn-info" ng-repeat="pg in vm.paging.left" ng-click="vm.pagTo(pg)" class="btn btn-info"> {{pg +1}} </button>
                                <button class="btn btn-default" > {{vm.paging.current +1}} </button>
                                <button class="btn btn-info" ng-repeat="pg in vm.paging.right" ng-click="vm.pagTo(pg)"  class="btn btn-info"> {{pg +1}} </button>
                                <button class="btn btn-info" ng-hide="!vm.paging.next_last" ng-click="vm.pagTo(vm.paging.current +1)"> > </button>
                                <button class="btn btn-info" ng-hide="!vm.paging.next_last" ng-click="vm.pagTo(vm.paging.total-1)"> >> </button>
                                <button class="btn btn-info" > de {{vm.paging.total}} </button>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>