<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal form-border ">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Usuario: </label>
                            <div class="col-sm-6">
                                <span>{{vm.solicitud.user}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Documento: </label>
                            <div class="col-sm-6">
                                <span>{{vm.solicitud.document}}</span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 table-responsive">
                                <table id="example" class="table table-striped table-bordered recursos-items" datatable="" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="text-center-app">Estado Recurso</th>
                                        <th class="text-center-app">Gerencia</th>
                                        <th class="text-center-app">Grupo</th>
                                        <th class="text-center-app">Fechas</th>
                                        <th class="text-center-app">Aplicacion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="elem in vm.solicitud.requests">
                                        <td>{{elem.type}}</td>
                                        <td>{{elem.department}}</td>
                                        <td>{{elem.description}}</td>
                                        <td>{{elem.fromDate}} - {{elem.toDate}}</td>
                                        <td>{{elem.resource}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div role="group  button-group-control">
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-default form-control"
                                            ng-click="vm.gotosolicituds()">
                                        <i class="fa fa-chevron-left"></i><span class="hidden-xs">Volver</span></button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary form-control"
                                            ng-click="vm.reject()">
                                        <i class="fa fa-times"></i><span class="hidden-xs">Rechazar</span></button>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary form-control"
                                            ng-click="vm.approve()">
                                        <i class="fa fa-check"></i><span class="hidden-xs">Aprobar</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>