<div class="modal-header">
    <button type="button" class="close" ng-click="pm.cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{pm.title}}</h4>
</div>
<div class="modal-body">
    <p>{{pm.message}}</p>
    <p>
        <textarea type="text" ng-model="pm.comment" style="width: 100%; height: 100%;"/>
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="pm.cancel()">{{pm.cancelLabel}}</button>
    <button type="button" class="btn btn-info btn-primary" ng-click="pm.ok()">{{pm.okLabel}}</button>
</div>