<header id="header">
    <ul class="nav navbar-nav navbar-left">
        <li class="toggle-navigation toggle-left" toggle-left-sidebar></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown profile">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span class="meta">
                    <span class="text">{{vm.datasource.getAccount().firstName}}</span>
                    <span class="caret"></span>
                </span>
            </a>
            <ul class="dropdown-menu animated flipInX" role="menu">
                <li>
                    <a ng-click="vm.logout()">
                        <span class="icon"><i class="fa fa-sign-out"></i></span>Salir
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>