<div class="login-overlay">
    <h1 class="form-signin-heading"> Gestión de Usuarios y Recursos </h1>
    <div class="inner-box" ng-show="vm.loginState">
        <form class="form-signin" ng-submit="vm.login()">
            <h4 class="form-signin-heading">Iniciar Sesión</h4>
            <input type="text" class="form-control" placeholder="Usuario" ng-model="vm.user" required autofocus>
            <input type="password" class="form-control" placeholder="Contraseña" ng-model="vm.pass" required>
            <button type="submit" class="btn btn-lg btn-info btn-primary" >Ingresar</button>
        </form>
    </div>
</div>