<section class="main-content-wrapper">
    <section id="main-content">
        <div class="pageheader">
            <h1>{{vm.state.current.extras.title}}</h1>
            <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Usted esta en:</span>
            <ol class="breadcrumb">
                <li ng-repeat="breadcrumb in vm.state.current.extras.breadcrumbs">{{breadcrumb}}</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body ng-binding">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
