<section id="main-wrapper" class="theme-default" ng-controller="Shell as vm">


    <header-page></header-page>
    <login-overlay></login-overlay>
    <sidebar-left></sidebar-left>
    <main-content></main-content>


</section>