<aside class="sidebar sidebar-left">
    <nav>
        <h5 class="sidebar-header">Solicitudes</h5>

        <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
            <li class="nav-dropdown">
                <a href="" ui-sref="solicitud.list.collaborators" title="Mis Colaboradores">
                    <i class="fa fa-fw fa-users"></i> Mis Colaboradores
                </a>
            </li>
            <li class="nav-dropdown">
                <a href="" ui-sref="solicitud.list.mymanagement" title="Mi Gerencia">
                    <i class="fa fa-fw fa-sitemap"></i> Mi Gerencia
                </a>
            </li>
            <li class="nav-dropdown">
                <a href="" ui-sref="solicitud.list.othermanagement" title="Otra Gerencia">
                    <i class="fa fa-fw fa-cubes"></i> Otra Gerencia
                </a>
            </li>
        </ul>
    </nav>
</aside>