/* 00015-for-test */

*{margin:0;padding:0;}

body {
  background-color: WhiteSmoke;
  font-size: 16px;
}

.form-signin {
    max-width: 330px;
    padding: 1em;
    margin: 0 auto;
}

.form-signin .form-signin-heading{
  margin-top: 5rem;
  margin-bottom: .5em;
  font-size: 2.1rem;
  color: ghostwhite;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: .55em;
  font-size: 1.05rem;
  margin-bottom: .35rem;
}

.form-signin input{
  border-radius: 5px;
}

/*.btn{*/
    /*margin-top: 1em;*/
/*}*/

.update{
    margin-top: 0.7em;
    border-radius: 1em;
    padding: 0.7em;
    font-size: 1.3rem;
    background-color: Gold;
    display: none;
}
.inner-box {
  vertical-align: middle;
  background: dimgray;
  opacity: 1;
  padding: 5em;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
  z-index: 99999;
}
.inner-box a p{
  color: whitesmoke;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.main-content-wrapper #main-content {
	padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
	width: 100%;
}

.table-control{
  margin-bottom: .3rem;
  margin-left: .3rem;
  margin-right: .3rem;
  text-align: center;
}
.table-control input{
  margin-bottom: 0.7%;
  margin-top: 0.7%;
}
.table-control p{
  margin-bottom: 0.7%;
  margin-top: 0.7%;
}

.table-control .btn{
  margin-bottom: 0.7%;
  margin-top: 0.7%;
}

.action-icon {
    cursor: pointer;
    font-size: 1.5rem;
}
.number-in-align{
    padding-left: 3px;
}