
table {
    font-size: smaller;
}

.table-responsive  .col-commands {
    text-align: center;
}

.summary-responsive {
    display: none !important;
    text-align: right;
    font-weight: bold;
    padding: 2px 10px;
    border: 1px solid #ccc;
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .table-responsive {
        border: none !important;
    }
    /* force table to not be like tables anymore */

    .table-responsive  table,
    .table-responsive  thead,
    .table-responsive  tbody,
    .table-responsive  tfoot,
    .table-responsive  th,
    .table-responsive  td,
    .table-responsive  tr {
        display: block;
    }

    /* Hide table headers (but not display: none, for accessibility) */
    .table-responsive  thead tr/*, .table-responsive  tfoot tr*/ {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive  tr { border: 1px solid #ccc }

    .table-responsive  td {
        /* Behave like "row" */
        border: none !important;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40% !important;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .table-responsive tfoot tr td {
        padding-left: 8px !important;
    }

    .table-responsive  td:before {
        /* now like table header */
        position: absolute;

        /* top/left mimic padding */
        top: 6px;
        left: 6px;
        width: 37%;
        padding-right: 10px;
        white-space: nowrap;
        overflow-wrap: break-word;
    }

    /* Label the data. Make this for each table :( */
    .table-responsive  .col-commands {
        text-align: left;
        overflow-wrap: break-word;
    }
    .table-responsive table tr td{
        overflow-x: scroll;

    }

    /* Requests */
    .table-responsive .requests tbody td:nth-of-type(1):before { content: "Código"; font-weight: bold; }
    .table-responsive .requests tbody td:nth-of-type(2):before { content: "Fecha"; font-weight: bold; }
    .table-responsive .requests tbody td:nth-of-type(3):before { content: "Usuario"; font-weight: bold; }
    .table-responsive .requests tbody td:nth-of-type(4):before { content: "Cargo"; font-weight: bold; }

    /* Request Items */
    .table-responsive .request-items tbody td:nth-of-type(1):before { content: "Tipo"; font-weight: bold; }
    .table-responsive .request-items tbody td:nth-of-type(2):before { content: "Recurso"; font-weight: bold; }
    .table-responsive .request-items tbody td:nth-of-type(3):before { content: "Descripción"; font-weight: bold; }
    .table-responsive .request-items tbody td:nth-of-type(4):before { content: "Fechas"; font-weight: bold; }
    .table-responsive .request-items tbody td:nth-of-type(5):before { content: "Departamento"; font-weight: bold; }

    /* solicitud */
    .table-responsive .solicitud tbody td:nth-of-type(1):before { content: "Codigo"; font-weight: bold; }
    .table-responsive .solicitud tbody td:nth-of-type(2):before { content: "Fecha"; font-weight: bold; }
    .table-responsive .solicitud tbody td:nth-of-type(3):before { content: "Documento"; font-weight: bold; }
    .table-responsive .solicitud tbody td:nth-of-type(4):before { content: "Usuario"; font-weight: bold; }
    .table-responsive .solicitud tbody td:nth-of-type(5):before { content: "Tipo de Empleado"; font-weight: bold; } 

    /* Recursos Items */
    .table-responsive .recursos-items tbody td:nth-of-type(1):before { content: "Estado Recurso"; font-weight: bold; }
    .table-responsive .recursos-items tbody td:nth-of-type(2):before { content: "Gerencia"; font-weight: bold; }
    .table-responsive .recursos-items tbody td:nth-of-type(3):before { content: "Grupo"; font-weight: bold; }
    .table-responsive .recursos-items tbody td:nth-of-type(4):before { content: "Fechas"; font-weight: bold; }
    .table-responsive .recursos-items tbody td:nth-of-type(5):before { content: "Aplicacion"; font-weight: bold; }
    
}